In [41]:
import pandas as pd
from datetime import timedelta
from faker import Faker

In [30]:
df = pd.read_csv("dataset.csv", delimiter=';')

In [31]:
df.head()

,Nome,E-mail,CPF,Endereço,CEP,Estado,Data Nascimento
0,Augusto Vieira,cardosodavi-lucca@gmail.com,394.160.258-60,"Alameda de Moreira, 370",59103-712,RS,21/06/1993
1,Erick Duarte,calebecastro@gmail.com,907.862.541-49,"Fazenda de da Paz, 519",91372-831,MG,26/12/2012
2,Murilo Fogaça,acosta@bol.com.br,650.127.983-68,"Viela Mariane Costela, 230",57328-451,AM,21/04/1972
3,Maria Alice Rezende,efarias@yahoo.com.br,274.653.801-62,"Pátio Martins, 19",79394-246,PE,18/06/2006
4,Vitória Costa,santosesther@hotmail.com,748.592.016-20,"Rodovia Jesus, 11",49595-407,ES,25/08/1989

In [32]:
#SUPRESSÃO

df['Nome'] = df['Nome'].apply(lambda x: x.split(" ")[0])

In [33]:
df.head()

,Nome,E-mail,CPF,Endereço,CEP,Estado,Data Nascimento
0,Augusto,cardosodavi-lucca@gmail.com,394.160.258-60,"Alameda de Moreira, 370",59103-712,RS,21/06/1993
1,Erick,calebecastro@gmail.com,907.862.541-49,"Fazenda de da Paz, 519",91372-831,MG,26/12/2012
2,Murilo,acosta@bol.com.br,650.127.983-68,"Viela Mariane Costela, 230",57328-451,AM,21/04/1972
3,Maria,efarias@yahoo.com.br,274.653.801-62,"Pátio Martins, 19",79394-246,PE,18/06/2006
4,Vitória,santosesther@hotmail.com,748.592.016-20,"Rodovia Jesus, 11",49595-407,ES,25/08/1989

In [34]:
#MASKING ou PII Mask

df['CPF'] = df['CPF'].replace('\d\d\d', 'XXX', regex=True)

In [35]:
df.head()

,Nome,E-mail,CPF,Endereço,CEP,Estado,Data Nascimento
0,Augusto,cardosodavi-lucca@gmail.com,XXX.XXX.XXX-60,"Alameda de Moreira, 370",59103-712,RS,21/06/1993
1,Erick,calebecastro@gmail.com,XXX.XXX.XXX-49,"Fazenda de da Paz, 519",91372-831,MG,26/12/2012
2,Murilo,acosta@bol.com.br,XXX.XXX.XXX-68,"Viela Mariane Costela, 230",57328-451,AM,21/04/1972
3,Maria,efarias@yahoo.com.br,XXX.XXX.XXX-62,"Pátio Martins, 19",79394-246,PE,18/06/2006
4,Vitória,santosesther@hotmail.com,XXX.XXX.XXX-20,"Rodovia Jesus, 11",49595-407,ES,25/08/1989

In [36]:
df.dtypes

Nome               object
E-mail             object
CPF                object
Endereço           object
CEP                object
Estado             object
Data Nascimento    object
dtype: object

In [25]:
# GENERALIZAÇÃO

df['Data Nascimento'] = pd.to_datetime(df['Data Nascimento'], format='%d/%m/%Y')
df['Data Nascimento'] = pd.DatetimeIndex(df['Data Nascimento']).year
df.head()

In [39]:
# PERTURBATION

df['Data Nascimento'] = pd.to_datetime(df['Data Nascimento'], format='%d/%m/%Y')
df['Data Nascimento'] = pd.DatetimeIndex(df['Data Nascimento']) + timedelta(days=12)

In [40]:
df.head()

,Nome,E-mail,CPF,Endereço,CEP,Estado,Data Nascimento
0,Augusto,cardosodavi-lucca@gmail.com,XXX.XXX.XXX-60,"Alameda de Moreira, 370",59103-712,RS,1993-07-03
1,Erick,calebecastro@gmail.com,XXX.XXX.XXX-49,"Fazenda de da Paz, 519",91372-831,MG,2013-01-07
2,Murilo,acosta@bol.com.br,XXX.XXX.XXX-68,"Viela Mariane Costela, 230",57328-451,AM,1972-05-03
3,Maria,efarias@yahoo.com.br,XXX.XXX.XXX-62,"Pátio Martins, 19",79394-246,PE,2006-06-30
4,Vitória,santosesther@hotmail.com,XXX.XXX.XXX-20,"Rodovia Jesus, 11",49595-407,ES,1989-09-06

In [56]:
# Dado Sintetico ou Fake

fake = Faker('pt-BR')
df['E-mail'] = df['E-mail'].apply(lambda x: fake.email())
df.head()

,Nome,E-mail,CPF,Endereço,CEP,Estado,Data Nascimento
0,Augusto,enzo-gabrielteixeira@example.com,126.795.340-34,"Alameda de Moreira, 370",59103-712,RS,1993-07-03
1,Erick,ribeirojoaquim@example.net,871.235.649-28,"Fazenda de da Paz, 519",91372-831,MG,2013-01-07
2,Murilo,ycardoso@example.com,648.790.512-76,"Viela Mariane Costela, 230",57328-451,AM,1972-05-03
3,Maria,livia36@example.net,496.257.018-85,"Pátio Martins, 19",79394-246,PE,2006-06-30
4,Vitória,jda-conceicao@example.org,391.824.507-14,"Rodovia Jesus, 11",49595-407,ES,1989-09-06

In [57]:
#HASH

df['CEP'] = df['CEP'].apply(lambda x: hash(x))
df.head()

,Nome,E-mail,CPF,Endereço,CEP,Estado,Data Nascimento
0,Augusto,enzo-gabrielteixeira@example.com,126.795.340-34,"Alameda de Moreira, 370",-4599261616682391207,RS,1993-07-03
1,Erick,ribeirojoaquim@example.net,871.235.649-28,"Fazenda de da Paz, 519",-5281536402551659771,MG,2013-01-07
2,Murilo,ycardoso@example.com,648.790.512-76,"Viela Mariane Costela, 230",-8610740503564040879,AM,1972-05-03
3,Maria,livia36@example.net,496.257.018-85,"Pátio Martins, 19",-8647589936691916235,PE,2006-06-30
4,Vitória,jda-conceicao@example.org,391.824.507-14,"Rodovia Jesus, 11",3339413255950102964,ES,1989-09-06